<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="MyNetTcpBinding" maxReceivedMessageSize="10485760" maxBufferSize="10485760" maxBufferPoolSize="10485760">
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="Service.Implementations">
				<endpoint address="ViewStudentInfo" binding="netTcpBinding" bindingConfiguration="MyNetTcpBinding" contract="Domain.IViewStudentInfo" />
				<endpoint address="Tutor" binding="netTcpBinding" bindingConfiguration="MyNetTcpBinding" contract="Domain.ITutor" />
				<endpoint address="Career" binding="netTcpBinding" bindingConfiguration="MyNetTcpBinding" contract="Domain.ICareer" />
				<endpoint address="Student" binding="netTcpBinding" bindingConfiguration="MyNetTcpBinding" contract="Domain.IStudent" />
				<endpoint address="Appointment" binding="netTcpBinding" bindingConfiguration="MyNetTcpBinding" contract="Domain.IAppointment" />
				<endpoint address="Procedure" binding="netTcpBinding" bindingConfiguration="MyNetTcpBinding" contract="Domain.IProcedure" />

				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.1.84:8082"/>
						<add baseAddress="net.tcp://192.168.1.84:8081"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="FEIDBEntities" connectionString="metadata=res://*/FEIDB.csdl|res://*/FEIDB.ssdl|res://*/FEIDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=FEIDB;persist security info=True;user id=feiadmin;password=F3i2024@min;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>