<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FEIDBEntities" connectionString="metadata=res://*/FEIDB.csdl|res://*/FEIDB.ssdl|res://*/FEIDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=FEIDB;persist security info=True;user id=feiadmin;password=F3i2024@min;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>